body {
  padding-top: 50px;
}
.full-width{
  width: 100%;
  padding: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{padding: 0;}
.row{margin: 0;}
/* CAROUSEL QUOTE */
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/
.carousel-inner > .item{
  margin: auto;
  width: 60%;
}

.quote {
  color: rgba(0,0,0,.1);
  text-align: left;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
  margin-top: 20%;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #c2b39a;
  border: none;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active{
  background-color: #4f4b4b;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: left;
  border: none;
  padding: 0;
  color: #000;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}
/* CUSTOM CSS GOES HERE */
.main-photo {
  position: relative;
  color: #fff;
}
.main-photo img{
  width: 100%;
}
.main-photo blockquote{
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-left: none;
}
.quotes-home{background-color:#b4a283; }
.profile-homepage{position: relative;}
.profile-item{
  position: absolute;
  top: 0;
  left: 0;
}
.profile-photo-homepage{width: 100%;}
